@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/Order.css" rel="stylesheet" />

<div class="order customer-order-list">
    <!--begin map-->
    <div class="map">
        <a class="index" href="/index">首页</a>&nbsp;&gt;&nbsp;
        <a href="/order/order?action=list">订单</a>&nbsp;&gt;&nbsp;
        <a href="/order/order?action=list">新增订单</a>
    </div>
    <!--end map-->

    <div class="main-t">
        <div class="control-box ui-page-tab-con">

            <div class="control-group">
                <div style="margin-bottom:20px;">
                    <span class="order-agent-name">易订货演示帐号A店【普通】<input id="agentId" type="hidden" value="14524437"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="order-number">单号：DH-O-20140913-015101</span>【待收货确认】
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="mr5 btn-back-confirm theme-color"><em class="ui-btn-return-blue-ico"></em>退回</a>
                        <a class="theme-color mr5" href="http://corp2.dinghuo123.com/order/order?action=exporter&amp;orderNum=DH-O-20140913-015101"><em class="ui-btn-export-blue-ico"></em>导出订单</a>
                    </div>
                </div>
            </div>

            <div class="grid-wrap">
                <table class="gideTable">
                    <thead>
                        <tr>
                            <th style="width:50px;">#NO.</th>
                            <th style="width:450px;">商品</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>单价</th>
                            <th>小计</th>
                            <th style="width:200px;">备注</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td class="tdProduct">俏江南饺子<span class="productPanel">...</span></td>
                            <td>10</td>
                            <td>包</td>
                            <td>100</td>
                            <td>10*100=1000</td>
                            <td>羊肉的</td>
                        </tr>

                        <tr>
                            <td>2.</td>
                            <td class="tdProduct">俏江南饺子<span class="productPanel">...</span></td>
                            <td>10</td>
                            <td>包</td>
                            <td>100</td>
                            <td>10*100=1000</td>
                            <td>羊肉的</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td class="tdProduct">俏江南饺子<span class="productPanel">...</span></td>
                            <td>10</td>
                            <td>包</td>
                            <td>100</td>
                            <td>10*100=1000</td>
                            <td>羊肉的</td>
                        </tr>

                        <tr>
                            <td>4.</td>
                            <td class="tdProduct">俏江南饺子<span class="productPanel">...</span></td>
                            <td>10</td>
                            <td>包</td>
                            <td>100</td>
                            <td>10*100=1000</td>
                            <td>羊肉的</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="order-total">
                <div class="total-r">
                    <div class="total-group">
                        <label class="total-label">合计：</label>
                        <div class="total">￥<span class="total-money">0.00</span></div>
                    </div>

                    <div class="total-group">
                        <label class="total-label">应付总额：</label>
                        <div class="total red">￥<span class="total-rel-money">0.00</span></div>
                    </div>
                </div>
            </div>

            <div class="control-group remark" style="height: 43px;">
                <label class="control-label">填写备注：</label>
                <div class="control-input" style="height: 43px;">
                    <input class="ui-textarea-line" />
                </div>
            </div>
            <div class="control-group remark" style="height: 43px; margin-top:0;">
                <label class="control-label">收货信息：</label>
                <div class="control-input" style="height: 43px;">
                    <input class="ui-textarea-line" />
                </div>
            </div>
            <div class="control-group remark" style="height: 43px; margin-top:0;">
                <label class="control-label">发票信息：</label>
                <div class="control-input" style="height: 43px;">
                    <input class="ui-textarea-line" />
                </div>
                <div class="control-group remark" style="height: 43px; margin-top:0;">
                    <label class="control-label">交货日期：</label>
                    <div class="control-input" style="height: 43px;">
                        <input class="ui-textarea-line" />
                    </div>
                </div>
        </div>
    </div>

    <div class="control-box btn-submit">
        <a class="ui-btn ui-btn-theme save" href="javascript:void(0)">提交</a>
        <a class="ui-btn ui-btn-default cancel" href="javascript:void(0)">取消</a>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        var _width = $('.order-total').css('width');
        $('.grid-wrap').css('width', _width);

        gridHover();
        closeModel();
        showChoiceProduct();
    })

    var gridHover = function () {
        $('.gideTable tbody tr').mouseover(function () {
            $(this).siblings().css('background', '#FFF');
            $(this).css('background','rgb(230, 243, 248)');
        });
    }

    var closeModel = function () {
        $('.ui_close').click(function () {
            $('#ldg_lockmask').hide();
            $('.showModel').hide();
        });

        $('.productPanel').click(function () {
            $('#ldg_lockmask').show();
            $('.showModel').show();
        });
    }

    var showChoiceProduct = function () {
        $('.tdProduct').click(function () {
            $(this).children('span').show();
            $(this).addClass('choiceTb');
        });

        $('.tdProduct').mouseleave(function () {
            $(this).children('span').hide();
            $(this).removeClass('choiceTb');
        });
    }
</script>

<!--弹出层-->
<div id="ldg_lockmask"></div>
<div class="showModel">
    <div class="modelTitle">
        <a class="ui_close" style=" cursor:pointer;">[关闭]</a>
    </div>
    <div class="modelSearch">
        <span class="searchSpan">筛选:</span>
        <input type="text" class="ui-input w300 search-inp" placeholder="请输入商品名称进行搜索" autocomplete="off">
        <a href="javascript:void(0)" class="ui-btn ui-btn-default search-btn">搜索</a>
    </div>
     
    <table class="tableChoiceProduct" style="width:950px; min-height:80px; margin:20px auto;overflow:auto;">
        <thead>
            <tr style="background-color: #f7f7f7; height:40px;">
                <th></th>
                <th>分类名称</th>
                <th>商品编码</th>
                <th>商品名称</th>
                <th>库存</th>
                <th>单位</th>
                <th>价格</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td>
                    <input type="checkbox" /></td>
                <td>珠宝首饰</td>
                <td>P20140919</td>
                <td>莎拉公主超白金手镯</td>
                <td>10</td>
                <td>套</td>
                <td>1,000</td>
            </tr>
            <tr style="border-bottom: 1px solid #f9f9f9;">
                <td colspan="7" style="text-align:right;">
                    <span style="color: #03b8cc;">上一页</span> &nbsp;&nbsp;
                    <span style="color: #03b8cc;">下一页</span> 
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modelBottom">
        <div class="ui_buttons"><input type="button" value="确定" class="ui_state_highlight"><input type="button" value="取消"></div>
    </div>
</div>
<!--弹出层 end-->
